html {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 200px;
  height: 100%;
  box-sizing: border-box;
  font: 400 60px/60px "Magra";
  text-align: center;
  text-shadow: 0 0 10px rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  background-image: url("../assets/img/bg.jpg");
  background-size: cover;
}
