@font-face {
  src: url("../assets/fonts/Magra-Bold.ttf") format("ttf");
  font-family: "Magra";
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  src: url("../assets/fonts/Magra-Regular.ttf") format("ttf");
  font-family: "Magra";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
